html, body {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight:lighter!important;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
  float: none;
}

/* ======== Calendar ======== */
.my-calendar {
  width: 900px;
  margin: 30px;
  padding: 20px 20px 10px;
  text-align: center;
  border:0px solid #363062!important;
  background-color:rgb(239, 239, 239, 0.5);
  border-radius: 15px;
  cursor: default;
  box-shadow:5px 5px 30px 5px #363062;
}

.my-calendar .clicked-date {
  border-radius: 25px;
  margin-top: 36px;
  float: left;
  width: 42%;
  font-weight:400;
  padding: 46px 0 26px;
  background-color: #9892ce;
}

.my-calendar .calendar-box {
  float: right;
  width: 58%;
  padding-left: 30px;
}

.clicked-date .cal-day {
  font-size: 30px;
}

.clicked-date .cal-date {
  font-size: 20px;
  font-weight:lighter;
}

.ctr-box {
  padding: 0 16px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight:300;
}

.ctr-box .btn-cal {
  position: relative;
  float: left;
  width: 25px;
  height: 25px;
  margin-top: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: none;
}

.ctr-box .btn-cal:after {
  content: '<';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 25px;
  font-weight: bold;
  font-size: 20px;
}

.ctr-box .btn-cal.next {
  float: right;
}

.ctr-box .btn-cal.next:after {
  content: '>';
}

.cal-table {
  width: 100%;
}

.cal-table th {
  width: 14.2857%;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
}

.cal-table td {
  padding: 3px 0;
  height: 50px;
  font-size: 18px;
  vertical-align: middle;
}

.cal-table td.day {
  position: relative;
  cursor: pointer;
  padding:0;
}

.cal-table td.today {
  background: #9892ce;
  border-radius: 50%;
  color: rgb(215, 215, 215);
}

.cal-table td.day-active {
  background: #E9D5CA;
  border-radius: 50%;
  color: black;
}

.cal-table td.has-event:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #FFC107;
}