.logo-img{
    display:flex; 
    justify-content:center; 
    align-items:center; 
    margin-top:1.5rem;
}

.logo-img:hover{
    filter: opacity(0.5) drop-shadow(0 0 0 #1800ca);
}

.nav-img:hover{
    transform: scale(1.1);
    filter: opacity(0.5) drop-shadow(0 0 0 #1800ca);
}

.nav-bar{
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    align-items: center;
    height:4rem;
    padding: 0 1.7rem;
    background-color: rgba(205, 205, 205);
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
    box-shadow: 1px -4px 50px 2px gray;
    position:fixed; 
    bottom:0; 
    left:0; 
    right:0;
}