.logo-img{
    height: 40px; 
    width: 40px;
}

.logo-img:hover{
    transform: scale(1.1);
    filter: opacity(0.5) drop-shadow(0 0 0 #1800ca);
}

.nav-bar{
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    align-items: center;
    padding: 1.2rem 2rem;
    background-color: rgba(198, 198, 198, 0.5);
}