{% extends 'base.html' %}

{% block content %}

<div class="container" style="padding:5rem; border:1px solid black; border-radius:15px; margin-bottom:5rem;">
    <h1>{{ user.username }}님에게 보내는 위로메세지</h1>

    <div style="display:flex;">
        <!-- 받은 메시지 -->
        <div style="display:flex; flex-direction:column;">
            <h4>내가 받은 메시지</h4>
            {% if messages == 1 %}
                <p>받은 메시지가 없습니다.</p>
            {% else %}
                {% for message in messages %}
                    <p>{{ message.content }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}