{% extends 'base.html' %}

{% block content %}

<div class="container" style="padding:5rem; border:1px solid black; border-radius:15px; margin-bottom:5rem;">
    <h1>{{ user.username }}님에게 보내는 위로메세지</h1>

    <div style="display:flex;">
        <!-- 받은 메시지 -->
        <div style="display:flex; flex-direction:column;">
            <h4>내가 받은 메시지</h4>
            {% if messages == 1 %}
                <p>받은 메시지가 없습니다.</p>
            {% else %}
            <form action="{% url 'accounts:message_delete' %}" method="POST">
                {% csrf_token %}
                {% for message in messages %}
                <input type="checkbox" id="selected" name="selected" value="{{message.id}}">
                <p>{{ message.content }}</p>
                {% endfor %}
                <button type="submit">삭제</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}