{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block css %}
<link rel="stylesheet" href="/static/css/btn.css">
{% endblock css %}
{% block content %}
<div class="container" style="height: 100vh;">
    <div class="card p-5">
        <h1>비밀번호 변경</h1>
        <form action="{% url 'accounts:password' %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input class="btn-two purple" type="submit" value="확인">
        </form>
    </div>
</div>
{% endblock content %}