{% extends 'base.html' %}

{% block content %}
<h1>{{ user.username }}님의 프로필</h1>
<!-- 내가 쓴 일기 -->

{% for article in articles %}
    <h2>내 일기</h4>
    <h3>{{ article.content }} </h3>
    <h6>내가 받은 메시지</h5>
    {% for message in messages %}
        {% if article.pk == message.articles.pk %}
            <p>{{ message.content }}</p>
        {% endif %}
    {% endfor %}
{% endfor %}
<!-- 받은 메시지 -->
<!--
<h5>내가 받은 메시지</h4>
{% for message in messages %}
<p>{{ message.content }}</p>
{% endfor %}
-->
{% endblock content %}