{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %} 

{% block css %}
<link rel="stylesheet" href="/static/css/accounts.css">
{% endblock css %}

{% block content %}

<!-- signup -->
<div class="container">
    <div class="row login-box d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            {% if validate == 1 %}
                <div class="alert-align">
                    <div class="alert-box">
                        <h1 align="center" class="alert-text">제출양식을 다시 확인해주세요.</h1>
                    </div>
                </div>
            {% else %}
            {% endif %}
            <form action="{% url 'accounts:signup' %}" method="POST">
                {% csrf_token %}
                <h1 align="center" style="font-size:25px;">회원가입</h1>
                <div class="all-steps" id="all-steps"> 
                    <img class="step" src="{% static 'images/heart.png' %}" alt=""> 
                    <img class="step" src="{% static 'images/heart.png' %}" alt=""> 
                    <img class="step" src="{% static 'images/heart.png' %}" alt=""> 
                    <img class="step" src="{% static 'images/heart.png' %}" alt=""> 
                    <img class="step" src="{% static 'images/heart.png' %}" alt=""> 
                    <img class="step" src="{% static 'images/heart.png' %}" alt=""> 
                </div>
                <div class="tab">
                    <h1 align="center" class="input-title">이름을 알려주세요.</h1>
                    <div class="input-text">
                        <input type="text" class="input-signup" placeholder="ex) 홍길동" name="fullname" required autofocus readonly onfocus="this.removeAttribute('readonly');">
                    </div>
                </div>

                <div class="tab">
                    <h1 align="center" class="input-title">생년월일을 알려주세요.</h1>
                    <div class="input-text">
                        <input type="text" class="input-signup" placeholder="ex) 2022-11-24" name="birthday" required autofocus readonly onfocus="this.removeAttribute('readonly');">
                    </div>
                </div>

                <div class="tab">
                    <h1 align="center" class="input-title">전화번호를 알려주세요.</h1>
                    <div class="input-text">
                        <input type="text" class="input-signup" placeholder="ex) 01012345678" name="phone_number" required autofocus readonly onfocus="this.removeAttribute('readonly');">
                    </div>
                </div>

                <div class="tab">
                    <h1 align="center" class="input-title">사용할 아이디를 입력하세요.</h1>
                    <div class="input-text">
                        <input type="text" class="input-signup" placeholder="지금, 우린 에서 사용할 아이디를 입력하세요." name="username" required autofocus readonly onfocus="this.removeAttribute('readonly');">
                    </div>
                </div>

                <div class="tab">
                    <h1 align="center" class="input-title">사용할 비밀번호를 입력하세요.</h1>
                    <div class="input-text">
                        <input type="password" class="input-signup" placeholder="최소 8자 이상으로, 숫자로만 이루어진 비밀번호는 사용할 수 없습니다." name="password1" required autofocus readonly onfocus="this.removeAttribute('readonly');">
                    </div>
                </div>

                <div class="tab">
                    <h1 align="center" class="input-title">비밀번호를 한번 더 입력하세요.</h1>
                    <div class="input-text">
                        <input type="password" class="input-signup" placeholder="한번 더 입력하세요" name="password2" required autofocus readonly onfocus="this.removeAttribute('readonly');">
                    </div>
                </div>

                <div style="overflow:auto;" id="nextprevious">
                    <div style="float:right; padding:3vw;">
                        <img class="step-button prev" id="prevBtn" onclick="nextPrev(-1)" src="{% static 'images/left-arrow.png' %}" alt="">
                        <img class="step-button next" id="nextBtn" onclick="nextPrev(1)" src="{% static 'images/right-arrow.png' %}" alt="">
                        <button class="final" id="signup-submit" type="submit"><img class="step-button" src="{% static 'images/right-arrow.png' %}" alt=""></button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<script>
    var currentTab = 0;
    document.addEventListener("DOMContentLoaded", function(event) {
        showTab(currentTab);
    });

    function showTab(n) {
    var x = document.getElementsByClassName("tab");
    x[n].style.display = "block";
    if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
    } else {
    document.getElementById("prevBtn").style.display = "inline";
    }
    if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = '<i class="fa fa-angle-double-right"></i>';
    } else {
    document.getElementById("nextBtn").innerHTML = '<i class="fa fa-angle-double-right"></i>';
    }
    fixStepIndicator(n)
    }

    function nextPrev(n) {
    var x = document.getElementsByClassName("tab");
    if (n == 1 && !validateForm()) return false;
    x[currentTab].style.display = "none";
    currentTab = currentTab + n;
    if (currentTab >= x.length) {
        document.getElementById("nextprevious").style.display = "none";
        document.getElementById("all-steps").style.display = "none";
    }
    showTab(currentTab);
    }

    function validateForm() {
        var x, y, i, valid = true;
        x = document.getElementsByClassName("tab");
        y = x[currentTab].getElementsByTagName("input");
        for (i = 0; i < y.length; i++) {
            if (y[i].value == "") {
                y[i].className += " invalid";
                valid = false;
            }
        }
        if (valid) {
            document.getElementsByClassName("step")[currentTab].className += " finish";
        }
        return valid;
    }

    function fixStepIndicator(n) {
        var i, x = document.getElementsByClassName("step");
        for (i = 0; i < x.length; i++) {
            x[i].className = x[i].className.replace(" active", "");
        }
        x[n].className += " active";
    }

    var count = 0;
    console.log(count)

    x = document.getElementById("prevBtn")
    y = document.getElementById("nextBtn")

    x.addEventListener('click', function() {
        count -=1
        console.log(count)
        if (count == 5) {
            document.querySelector('#signup-submit').style.display = "block";
            document.querySelector('#nextBtn').style.display = "none";
        }
        else {
            document.querySelector('#signup-submit').style.display = "none";
            document.querySelector('#nextBtn').style.display = "block";
        }
    })

    y.addEventListener('click', function() {
        count += 1
        console.log(count)
        if (count == 5) {
            document.querySelector('#signup-submit').style.display = "block";
            document.querySelector('#nextBtn').style.display = "none";
        }
        else {
            document.querySelector('#signup-submit').style.display = "none";
            document.querySelector('#nextBtn').style.display = "block";
        }
    })

</script>

<div style="height:10rem;"></div>

{% endblock content %}