{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block css %}
<link rel="stylesheet" href="/static/css/articles_create.css">
{% endblock css %}

{% block content %}

<form action="" method="POST" enctype="multipart/form-data" style="display:flex; flex-direction:column; padding:5rem;">
  {% csrf_token %}
  <textarea placeholder="내용" name="content" id="" cols="30" rows="10"></textarea><br>
  <input type="file" name="picture"><br>
  <input placeholder="감정" type="text" name="feelings"><br>
  <input placeholder="음악" type="text" name="music_url" id=""><br>
  <input placeholder="음악 시작위치" type="number" name="music_start"><br>
  <input type="submit">
</form>

{% endblock content %}