{% extends 'base.html' %} {% load static %} 
{% load django_bootstrap5 %}

{% block css %}
<link rel="stylesheet" href="/static/css/articles_index.css">
{% endblock css %}

{% block content %}
<h1>Together</h1>
<div class="d-flex justify-content-center pt-3 pb-2">
    <a class="form-control addtxt btn btn-light" href="{% url 'articles:articles_create' %}"> +  Add a note</a>
</div>
{% for article in articles %}
<div class="d-flex justify-content-center py-2 mb-2">
    <div class="second py-2 px-2">
        <a class="text-decoration-none" href="{% url 'articles:articles_detail' article.pk %}">
            {% if article.picture %}
            <span><img class="hover" src="{{ article.picture.url }}" alt="{{ article.picture }}" width="125"></span>
            {% else %}
      <div class="d-flex justify-content-center">
        <img src="" alt="">
      </div>
      {% endif %}
            <span class="text1">{{ article.content | linebreaksbr}}</span>
            <!-- 3줄 넘으면 더보기로 보이게 -->
        </a>
        <div class="d-flex justify-content-between py-1 pt-2">
            <div>
                <img src="{% static 'images/face.png' %}" alt="" width="18">
                <span class="text2">
                    글쓴이의 오늘 감정은  {{ article.feelings }}
                </span>
            </div>
            <div>
                <span class="text3">공감</span>
                <span class="thumbup">공감받은거</span> 
                <span class="text4">count</span>
            </div>
        </div>
        <div>
            <span class="text5">{{ article.created_at }}</span>
        </div>
    </div>
</div>
{% endfor %}


{% endblock content %}