{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<h2 class="m-3">일기들</h2>
<div class="card row m-2" style="width: 18rem;">
  {% for article in articles %}
  {% if article.picture %}

  <div class="d-flex justify-content-center">
    <img src="{{ article.picture.url }}" alt="{{ article.picture }}" class="container px-0">
  </div>
  {% else %}
  <div class="d-flex justify-content-center">
    <img src="" alt="">
  </div>
  {% endif %}

  <div class="card-body">
    <p class="card-text">{{ article.content }}</p>
  </div>
  <div>{{ article.feelings }}</div>

  {% endfor %}
</div>


{% endblock content %}