{% extends 'base.html' %} {% load static %} 
{% load django_bootstrap5 %}

{% block css %}
<link rel="stylesheet" href="/static/articles/css/articles_index.css">
<link rel="stylesheet" href="/static/css/articles_index.css">
{% endblock css %}

{% block content %}
<div class="title">
    <h1 class="title-text">함께하는 이야기</h1>
</div>
{% if request.user.is_authenticated %}
{% else %}
    <div class="add-a">
        <a class="form-control addtxt btn btn-light fs-6" href="{% url 'accounts:login' %}">로그인하러 가기</a>
    </div>
{% endif %}
<div class="container">
    {% for article in articles %}
    <div> 
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 my-2 article-card">
            <div class="col-md-6 col-sm-12 p-4">
                <div class="row row-cols-2">
                    {% if article.song %}
                    <div class="d-flex ms-2 mt-2 rounded playlist">
                        <div class="col-5 thumbnail-body">
                            <img src="{{ article.song.song_thumbnail }}" alt="" class="thumbnail-image">
                        </div>
                        <div class="col-7 song-title-body">
                            <p class="song-title-text">{{ article.song.song_title }}</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% if article.picture %}
                <a href="{% url 'articles:articles_detail' article.pk %}"><img class="hover rounded articles-image" src="{{ article.picture.url }}" alt="{{ article.picture }}"></a>
                {% else %}
                <a href="{% url 'articles:articles_detail' article.pk %}"><img class="hover rounded articles-image" src="" alt=""></a>
                {% endif %}
            </div>
            <div class="col-md-6 col-sm-12">
                {% if article.picture %}
                <div class="articles-body-nopic">
                    <h1 class="articles-user">누군가의 이야기</h1>
                    <p class="text5 text-end">{{ article.created_at }}</p>
                    <a class="text-decoration-none text-dark" href="{% url 'articles:articles_detail' article.pk %}"><p class="text1 long">{{ article.content | linebreaksbr }}</p></a>
                </div>
                {% else %}
                <div class="articles-body-pic">
                    <h1 class="articles-user">누군가의 이야기</h1>
                    <p class="text5 text-end">{{ article.created_at }}</p>
                    <a class="text-decoration-none text-dark" href="{% url 'articles:articles_detail' article.pk %}"><p class="text1 short">{{ article.content | linebreaksbr }}</p></a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script>
    function timeForToday(value) {
        const today = new Date(); //현재 시간
        const timeValue = new Date(value); //글 작성시간

        const betweenTime = Math.floor((today.getTime() - timeValue.getTime()) / 1000 / 60);
        if (betweenTime < 1) return '방금전';
        if (betweenTime < 60) {
            return `${betweenTime}분전`;
        }

        const betweenTimeHour = Math.floor(betweenTime / 60);
        if (betweenTimeHour < 24) {
            return `${betweenTimeHour}시간전`;
        }

        const betweenTimeDay = Math.floor(betweenTime / 60 / 24);
        if (betweenTimeDay < 365) {
            return `${betweenTimeDay}일전`;
        }

        return `${Math.floor(betweenTimeDay / 365)}년전`;
    }
</script>

<div style="height:10rem;"></div>

{% endblock content %}