{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block css %}
<link rel="stylesheet" href="/static/css/articles_create.css">
<link rel="stylesheet" href="/static/css/btn.css">
{% endblock css %}

{% block content %}
<div class="d-flex justify-content-center" style="height:100vh;">
  <form action="" method="POST" enctype="multipart/form-data" style="display:flex; flex-direction:column; padding:5rem;">
    {% csrf_token %}
    <div>
      <label for="">음악</label><br>
      <input class="wd" placeholder="음악 아직 하는중" type="text" name="music_url" id="">
    </div>
    <div class="mt-3">
      <input class="wd" placeholder="음악 시작위치" type="number" name="music_start">
    </div>
    <div class="mt-3">
      <textarea class="wdt" placeholder="내용" name="content" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="mt-3">
      <input placeholder="감정" type="text" name="feelings">
      <!-- <select class="wd" aria-label="Default select example">
        <option selected>감정을 표현하세요</option>
        <option value="😊">😊</option>
        <option value="😞">😞</option>
        <option value="👿">👿</option>
        <option value="😭">😭</option>
        <option value="😍">😍</option>
        <option value="😒">😒</option>
      </select> -->
    </div>
    <div class="mt-3">
      <label for="picture" class="form-label">Moment</label>
      <input class="form-control" type="file" name="picture" multiple>
    </div>
    <div class="toggle mt-3">
      <input type="checkbox" name="toggle1" id="toggle1" value="1">
      <label for="toggle1">공개하기</label>
    </div>
    <div class="mt-3">
      <input class="btn-two purple" type="submit">
    </div>
</div>
</form>

{% endblock content %}