{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="/static/css/timeline.css">
{% endblock css %}

{% block content %}

<div class="container">
    {% for diary in diaries %}
    <div> 
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 my-5 card-box">
            <div class="col-md-6 col-sm-12 p-4">
                <div class="row row-cols-2">
                    {% if diary.song %}
                    <div class="d-flex ms-2 mt-2 rounded song-box">
                        <div class="col-5 song-img-box">
                            <img class="song-img" src="{{ diary.song.song_thumbnail }}" alt="">
                        </div>
                        <div class="col-7 d-flex song-title-box">
                            <p class="mt-3 song-title">{{ diary.song.song_title }}</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% if diary.picture %}
                <a href="{% url 'articles:articles_detail' diary.pk %}"><img class="hover rounded" src="{{ diary.picture.url }}" alt="{{ diary.picture }}" style="height:300px; width:100%;"></a>
                {% else %}
                <a href="{% url 'articles:articles_detail' diary.pk %}"><img class="hover rounded" src="" alt="" style="height:300px; width:100%;"></a>
                {% endif %}
            </div>
            <div class="col-md-6 col-sm-12">
                {% if diary.picture %}
                <div class="picture-box">
                    <h1 class="mb-2 content-text">누군가의 이야기</h1>
                    <p class="text5 text-end">{{ diary.created_at }}</p>
                    <a class="text-decoration-none text-dark" href="{% url 'articles:articles_detail' diary.pk %}"><p class="text1 long">{{ diary.content | linebreaksbr }}</p></a>
                </div>
                {% else %}
                <div class="no-picture-box">
                    <h1 class="mb-2 content-text">누군가의 이야기</h1>
                    <p class="text5 text-end">{{ diary.created_at }}</p>
                    <a class="text-decoration-none text-dark" href="{% url 'articles:articles_detail' diary.pk %}"><p class="text1 short">{{ diary.content | linebreaksbr }}</p></a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script>
    function timeForToday(value) {
    const today = new Date(); //현재 시간
    const timeValue = new Date(value); //글 작성시간

    const betweenTime = Math.floor((today.getTime() - timeValue.getTime()) / 1000 / 60);
    if (betweenTime < 1) return '방금전';
    if (betweenTime < 60) {
        return `${betweenTime}분전`;
    }

    const betweenTimeHour = Math.floor(betweenTime / 60);
    if (betweenTimeHour < 24) {
        return `${betweenTimeHour}시간전`;
    }

    const betweenTimeDay = Math.floor(betweenTime / 60 / 24);
    if (betweenTimeDay < 365) {
        return `${betweenTimeDay}일전`;
    }

    return `${Math.floor(betweenTimeDay / 365)}년전`;
}
</script>

<div style="height:10rem;"></div>

<script src="{% static 'accounts/js/.js' %}"></script>
{% endblock content %}