{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="/static/css/mainstyle.css">
{% endblock css %}

{% block content %}

<!-- nav bar -->
<div class="nav-bar fixed-bottom">
    <img class="logo-img" src="{% static 'images/calendar.png' %}" alt="">
    <img class="logo-img" src="{% static 'images/diary.png' %}" alt="">
    <img class="logo-img" src="{% static 'images/community.png' %}" alt="">
    <img class="logo-img" src="{% static 'images/user.png' %}" alt="" style="height:30px; width:30px;">
</div>

{% endblock content %}