{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="/static/css/mainstyle.css">
{% endblock css %}

{% block content %}

<!-- nav bar -->
<div class="nav-bar fixed-bottom">
    <a href="#"><img class="logo-img" src="{% static 'images/calendar2.png' %}" alt=""></a>
    <a href="#"><img class="logo-img" src="{% static 'images/diary2.png' %}" alt=""></a>
    <a href="#"><img class="logo-img" src="{% static 'images/community2.png' %}" alt=""></a>
    <a href="#"><img class="logo-img" src="{% static 'images/user2.png' %}" alt="" style="height:30px; width:30px;"></a>
</div>

{% endblock content %}