{% extends 'base.html' %} {% load static %} 
{% load static %}

{% block css %}
<link rel="stylesheet" href="/static/css/timeline.css">
{% endblock css %}

{% block content %}
<!-- {% if messages %}
	{% for message in messages %}
    <div class="alert alert-{{message.tags}}" role="alert">
        {{message.message}}
    </div>
	{% endfor %}
{% endif %} -->
{% if request.user.is_authenticated %}
    {% if not articles %}
        <div class="d-flex justify-content-center pt-3 pb-2">
            <a class="form-control addtxt btn btn-light fs-6" href="{% url 'articles:articles_create' %}">오늘의 일기 쓰러가기</a>
        </div>
    {% else %}
        <div class="d-flex justify-content-center pt-3 pb-2">
            <a class="form-control addtxt btn btn-light fs-6" href="{% url 'articles:articles_create' %}"> +  Add a note</a>
        </div>
    {% endif %}
{% else %}
    <div class="d-flex justify-content-center pt-3 pb-2">
        <a class="form-control addtxt btn btn-light fs-6" href="{% url 'accounts:login' %}">로그인하러 가기</a>
    </div>
{% endif %}
<div class="container">
    {% for article in articles %}
    <div> 
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 my-5 card-box">
            <div class="col-md-6 col-sm-12 p-4">
                <div class="row row-cols-2">
                    {% if article.song %}
                    <div class="d-flex ms-2 mt-2 rounded song-box">
                        <div class="col-5 song-img-box">
                            <img class="song-img" src="{{ article.song.song_thumbnail }}" alt="">
                        </div>
                        <div class="col-7 d-flex song-title-box">
                            <p class="mt-3 song-title">{{ article.song.song_title }}</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% if article.picture %}
                <a href="{% url 'articles:articles_detail' article.pk %}"><img class="hover rounded" src="{{ article.picture.url }}" alt="{{ article.picture }}" style="height:300px; width:100%;"></a>
                {% else %}
                <a href="{% url 'articles:articles_detail' article.pk %}"><img class="hover rounded" src="" alt="" style="height:300px; width:100%;"></a>
                {% endif %}
            </div>
            <div class="col-md-6 col-sm-12">
                {% if article.picture %}
                <div class="picture-box">
                    <h1 class="mb-2 content-text">누군가의 이야기</h1>
                    <p class="text5 text-end">{{ article.created_at }}</p>
                    <a class="text-decoration-none text-dark" href="{% url 'articles:articles_detail' article.pk %}"><p class="text1 long">{{ article.content | linebreaksbr }}</p></a>
                </div>
                {% else %}
                <div class="no-picture-box">
                    <h1 class="mb-2 content-text">누군가의 이야기</h1>
                    <p class="text5 text-end">{{ article.created_at }}</p>
                    <a class="text-decoration-none text-dark" href="{% url 'articles:articles_detail' article.pk %}"><p class="text1 short">{{ article.content | linebreaksbr }}</p></a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script>
    function timeForToday(value) {
        const today = new Date(); //현재 시간
        const timeValue = new Date(value); //글 작성시간

        const betweenTime = Math.floor((today.getTime() - timeValue.getTime()) / 1000 / 60);
        if (betweenTime < 1) return '방금전';
        if (betweenTime < 60) {
            return `${betweenTime}분전`;
        }

        const betweenTimeHour = Math.floor(betweenTime / 60);
        if (betweenTimeHour < 24) {
            return `${betweenTimeHour}시간전`;
        }

        const betweenTimeDay = Math.floor(betweenTime / 60 / 24);
        if (betweenTimeDay < 365) {
            return `${betweenTimeDay}일전`;
        }

        return `${Math.floor(betweenTimeDay / 365)}년전`;
    }
</script>

<div style="height:10rem;"></div>

{% endblock content %}